*.bak
*.old
*.ser
*.tmp
build/
nbproject/
/sys/logs/
/sys/tmp/
/sys/ini/iv.dat
/sys/ini/settings.ini
/sys/themes/.common/icons.css
/sys/themes/.common/icons.png
.!config.dir.ini
/sys/languages/for_translate.lng
/*ehthumbs.db
/*desktop.ini
/*Thumbs.db
/*.Trashes
.idea
.env
docker-compose.override.yml