* {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    background: #e5e5e5;
}

table {
    border: 0;
    /* border-collapse: collapse;*/
    border-spacing: 0;
}

table td {
    padding: 0;
}

a{
    color: #528dbe;
    text-decoration: none;
}

.title {
    /* Заголовок страницы */
    text-align: center;
    height: 48px;
    font-size: 18px;

    background: #7abfff;
    background: -moz-linear-gradient(top, #8bd4ff, #6aaaff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#8bd4ff), color-stop(100%,#6aaaff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #8bd4ff, #6aaaff);
    background: -o-linear-gradient(top, #8bd4ff, #6aaaff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8bd4ff, #6aaaff); /* IE10 */
    background: linear-gradient(top, #8bd4ff, #6aaaff); /* CSS3 */ 

    border-bottom: 1px #6598ff solid;
    color: #fff;
    text-shadow: 0 1px 2px #5E5E5E;

    overflow: hidden; 
    white-space: nowrap;
    padding: 10px 5px;    
}

.user{
    height: 40px;
    background: #e2eaf3;
    background: -moz-linear-gradient(top, #c2d2e5, #fefeff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#c2d2e5), color-stop(100%,#fefeff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #c2d2e5, #fefeff);
    background: -o-linear-gradient(top, #c2d2e5, #fefeff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c2d2e5, #fefeff); /* IE10 */
    background: linear-gradient(top, #c2d2e5, #fefeff); /* CSS3 */
    border-bottom: 1px #dedede solid;
    padding: 2px 3px;
    text-align: right;
}

.user a{
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;

    background: #ededed;
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
    background: -o-linear-gradient(top, #ffffff, #dfdfdf); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, #dfdfdf); /* IE10 */
    background: linear-gradient(top, #ffffff, #dfdfdf); /* CSS3 */     

    border: 1px #B4B4B4 solid; 
    border-radius: 17px;
    height: 35px;
    padding: 7px 10px;
    margin: 0 7px;
    
    color: #2F6AA0;
}


.err, .msg{
    min-height: 30px;
    border-bottom: 1px #dedede solid;
    padding: 2px 3px;
    text-align: center;
    font-weight: bold;
    color: #686868;
    padding-top: 4px;
}

.err{    
    background: #f3e9e2;
    background: -moz-linear-gradient(top, #e5d0c2, #fffefe); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#e5d0c2), color-stop(100%,#fffefe));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #e5d0c2, #fffefe);
    background: -o-linear-gradient(top, #e5d0c2, #fffefe); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5d0c2, #fffefe); /* IE10 */
    background: linear-gradient(top, #e5d0c2, #fffefe); /* CSS3 */    
}

.msg{
    background: #e8f4e4;
    background: -moz-linear-gradient(top, #cbe5c2, #fefffe); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#cbe5c2), color-stop(100%,#fefffe));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #cbe5c2, #fefffe);
    background: -o-linear-gradient(top, #cbe5c2, #fefffe); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cbe5c2, #fefffe); /* IE10 */
    background: linear-gradient(top, #cbe5c2, #fefffe); /* CSS3 */    
}



.content{
    background: #f2f4f5;
    background: -moz-linear-gradient(top, #f3f3f3, #edf8ff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#f3f3f3), color-stop(100%,#edf8ff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #f3f3f3, #edf8ff);
    background: -o-linear-gradient(top, #f3f3f3, #edf8ff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f3f3, #edf8ff); /* IE10 */
    background: linear-gradient(top, #f3f3f3, #edf8ff); /* CSS3 */ 


    border-bottom: 1px #ccd6db solid;

    padding: 3px;
}



.listing{
    margin: 10px 3px;
}

.listing > a{
    display: block;
}

.listing table{
    width: 100%;
}

.listing > *{
    padding: 5px;

    border: 1px #B4B4B4 solid;
    border-bottom: none;

    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7, #dadee0); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#f7f7f7), color-stop(100%,#dadee0));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #f7f7f7, #dadee0);
    background: -o-linear-gradient(top, #f7f7f7, #dadee0); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7, #dadee0); /* IE10 */
    background: linear-gradient(top, #f7f7f7, #dadee0); /* CSS3 */   
    /*box-shadow: 0 0 10px -5px black;*/
}

.listing > a:hover{
    background: #eceeef;
    background: -moz-linear-gradient(top, #f8f8f8, #dee2e5); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#f8f8f8), color-stop(100%,#dee2e5));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #f8f8f8, #dee2e5);
    background: -o-linear-gradient(top, #f8f8f8, #dee2e5); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f8f8f8, #dee2e5); /* IE10 */
    background: linear-gradient(top, #f8f8f8, #dee2e5); /* CSS3 */ 
}

.listing > a:active{
    background: #dee2e4;
    background: -moz-linear-gradient(top, #dadee0, #f7f7f7); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#dadee0), color-stop(100%,#f7f7f7));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #dadee0, #f7f7f7);
    background: -o-linear-gradient(top, #dadee0, #f7f7f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dadee0, #f7f7f7); /* IE10 */
    background: linear-gradient(top, #dadee0, #f7f7f7); /* CSS3 */ 
}

.listing > *:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.listing > *:last-child{
    border-bottom: 1px #B4B4B4 solid;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.listing > a > *{
    background: url('img/post.a.png') no-repeat right center;
    padding-right: 15px;
}


.listing .post_image{
    width: 50px;
    padding: 1px;    
}

.listing .post_icon{
    width: 20px;
    height: 20px;
    padding: 2px 0px 0px 2px;    
}

.listing .post_title, .listing .post_title_right{
    height: 20px;
    color: #61656B;
    padding: 2px;
    font-size: 14px;
    text-shadow: 0px -1px 1px white;
}

.listing .hightlight .post_title{
    font-weight: bold;

}

.listing .post_title_right{
    text-align: right;
    font-size: 10px;
}

.listing .post_content{
    color: #4F5155;
    font-size: 12px;
    /*white-space: pre-wrap;*/
    /*word-break: break-all;*/
}

.listing .post_bottom{
    text-align: right;
    font-size: 10px;
}
.listing .post_counter{
    display: inline-block;
    border: 1px solid #B4B4B4;
    border-radius: 3px;
    background-color: white;
    padding: 2px 3px;
    font-size: 10px;
    box-shadow: 0px 1px 10px -5px black inset;
}



.actions{
    background-color: #f3f3f4;
}

.actions > a{
    display: block;
    background: #5faadd;
    background: -moz-linear-gradient(top, #6bc6fa, #528dbe); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#6bc6fa), color-stop(100%,#528dbe));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #6bc6fa, #528dbe);
    background: -o-linear-gradient(top, #6bc6fa, #528dbe); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6bc6fa, #528dbe); /* IE10 */
    background: linear-gradient(top, #6bc6fa, #528dbe); /* CSS3 */
}

.actions > a > div{
    margin: 0px 5px;
    height: 36px;
    background: url('img/action.png') no-repeat left center;
    padding: 9px 30px;
    color: white;
    font-size: 14px;
}

.returns{
    background-color: #f3f3f4;
}

.returns > a{
    display: block;
    background: #7abfff;
    background: -moz-linear-gradient(top, #8bd4ff, #6aaaff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#8bd4ff), color-stop(100%,#6aaaff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #8bd4ff, #6aaaff);
    background: -o-linear-gradient(top, #8bd4ff, #6aaaff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8bd4ff, #6aaaff); /* IE10 */
    background: linear-gradient(top, #8bd4ff, #6aaaff); /* CSS3 */ 
    border-bottom: 1px #6598ff solid;
}

.returns > a > div{
    margin: 0px 5px;
    height: 36px;
    background: url('img/return.png') no-repeat left center;
    padding: 9px 30px;
    color: #4F5155;
    font-size: 14px;
    text-shadow: 0px -1px 0px #CDE9FF;
}

.foot{
    font-size: 11px;
    text-align: right;
    color: #A7A7A7;
    text-shadow: 0 -1px 1px white;
    padding-right: 10px;
}

.foot a{
    color: #808183;
    font-weight: bold;
}

.widget {
    background-color: #f9fcff;
    padding: 5px 1px 5px 1px;
    margin: 0px;
    border-bottom: 1px #C7D7FF dotted;
}

.form{
    margin: 3px;
    padding: 2px;
    font-size: 14px;
    color: #5b5b5b;
    text-shadow: 0 -1px 1px white;
}

.form a{
    color: #768BAA;
}

.form form {
    display: inline;
}

.form textarea{
    width: 100%;
    border: 1px #B4B4B4 solid;
    resize: vertical;
    border-radius: 2px;
    min-height: 4em;
    
    background-color: white;
    box-shadow: 1px 1px 13px -5px black inset;
}

.form input[type="text"], .form input[type="password"]{
    margin-top: 5px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 1px #c1c1c1 solid;

    background: #f4f6f8;
    background: -moz-linear-gradient(top, #d3dbe3, #ffffff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#d3dbe3), color-stop(100%,#ffffff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #d3dbe3, #ffffff);
    background: -o-linear-gradient(top, #d3dbe3, #ffffff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d3dbe3, #ffffff); /* IE10 */
    background: linear-gradient(top, #d3dbe3, #ffffff); /* CSS3 */
}

.form select{
    display: inline-block;
    width: 90%;
    height: 30px;
    margin: 2px 5px;    
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    
}

.form input[type="submit"]{
    margin-top: 5px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #B4B4B4;
    border-radius: 15px;
    color: #fff;


    background: #5faadd;
    background: -moz-linear-gradient(top, #6bc6fa, #528dbe); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#6bc6fa), color-stop(100%,#528dbe));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #6bc6fa, #528dbe);
    background: -o-linear-gradient(top, #6bc6fa, #528dbe); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6bc6fa, #528dbe); /* IE10 */
    background: linear-gradient(top, #6bc6fa, #528dbe); /* CSS3 */
}



.select_bar{
    min-height: 40px;
    background: #e9e9e9;
    background: -moz-linear-gradient(top, #cecfce, #fefeff); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#cecfce), color-stop(100%,#fefeff));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #cecfce, #fefeff);
    background: -o-linear-gradient(top, #cecfce, #fefeff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cecfce, #fefeff); /* IE10 */
    background: linear-gradient(top, #cecfce, #fefeff); /* CSS3 */
    border-bottom: 1px #dedede solid;
    padding: 2px 3px;
    text-align: center;
}


.select_bar > *{
    font-size: 14px;

    vertical-align: top;
    display: inline-block;

    background: #ededed;
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
    background: -o-linear-gradient(top, #ffffff, #dfdfdf); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, #dfdfdf); /* IE10 */
    background: linear-gradient(top, #ffffff, #dfdfdf); /* CSS3 */
    border: 1px #B4B4B4 solid;
    border-right: none;    
    height: 35px;
    padding: 7px 5px;
    color: #3F3F3F;
}

.select_bar > span{
    font-weight: bold;
}

.select_bar > *:first-child{    
    padding-left: 15px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.select_bar > *:last-child{
    border-right: 1px #B4B4B4 solid;    
    padding-right: 15px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

div.adt_top, div.adt_bottom {
    padding: 2px 0px 1px 0px;
    text-align: center;
}

div.pages{
    text-align: center;
    padding: 5px;
}

div.pages > *{
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    font-size: 24px;
    vertical-align: middle;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    color: #4F5155;
}

div.pages > span{
    background: #dee2e4;
    background: -moz-linear-gradient(top, #dadee0, #f7f7f7); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#dadee0), color-stop(100%,#f7f7f7));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #dadee0, #f7f7f7);
    background: -o-linear-gradient(top, #dadee0, #f7f7f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dadee0, #f7f7f7); /* IE10 */
    background: linear-gradient(top, #dadee0, #f7f7f7); /* CSS3 */ 
    box-shadow: 0 0 8px -2px black inset;
}

div.pages > a{
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7, #dadee0); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#f7f7f7), color-stop(100%,#dadee0));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #f7f7f7, #dadee0);
    background: -o-linear-gradient(top, #f7f7f7, #dadee0); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7, #dadee0); /* IE10 */
    background: linear-gradient(top, #f7f7f7, #dadee0); /* CSS3 */ 
    text-shadow: 0 -1px 1px white;
    box-shadow: 0 0 8px -2px black;
}

img.photo {
    background-color: #DFDFED;
    margin: 1px;
    padding: 4px;
    border: 1px #CCCCE5 solid;
}

span.nick_on {
    text-shadow: 0px 0px 4px #4f4;
}


/* выделение в результатах поиска */
span.mark {
    font-weight: bold;
    color: #F6A21A;
}
table.links {
    font-size: x-small;
    font-weight: bold;
    background-color: #DCEDFF;
    width: 100%;
    text-align: center;
}
div.quote {
    font-size: smaller;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    background-color: white;
    box-shadow: 1px 1px 13px -5px black inset;
}
span.quote {
    font-weight: bold;
}


/* Голосования */
div.vote {
    margin: 3px;
    padding: 3px;
    
    background-color: #fff;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    
}
div.vote a:hover {
    text-decoration: none;
}
div.vote_name {
    font-weight: bold;
    font-size: x-small;
    padding-bottom: 4px;
}
td.votes {
    
    margin: 2px;
    border: 1px #B4B4B4 solid;
    border-radius: 2px;
    background: #dee2e4;
    background: -moz-linear-gradient(top, #dadee0, #f7f7f7); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#dadee0), color-stop(100%,#f7f7f7));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #dadee0, #f7f7f7);
    background: -o-linear-gradient(top, #dadee0, #f7f7f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dadee0, #f7f7f7); /* IE10 */
    background: linear-gradient(top, #dadee0, #f7f7f7); /* CSS3 */
}
td.votes div {
    height: 30px;
    padding: 5px;    
    outline: 1px #B4B4B4 solid;
    border-radius: 2px;
    
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7, #dadee0); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#f7f7f7), color-stop(100%,#dadee0));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #f7f7f7, #dadee0);
    background: -o-linear-gradient(top, #f7f7f7, #dadee0); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7, #dadee0); /* IE10 */
    background: linear-gradient(top, #f7f7f7, #dadee0); /* CSS3 */ 
}
td.votes_add {
    width: 30px;
}
td.votes_add a {
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0px 3px 0px 3px;
    padding: 5px;    
    
    border: 1px #B4B4B4 solid;
    border-radius: 2px;
    
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7, #dadee0); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#f7f7f7), color-stop(100%,#dadee0));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #f7f7f7, #dadee0);
    background: -o-linear-gradient(top, #f7f7f7, #dadee0); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7, #dadee0); /* IE10 */
    background: linear-gradient(top, #f7f7f7, #dadee0); /* CSS3 */
    
    
    color: #4F5155;
    text-shadow: 0 -1px 1px white;
    
}


