html, body, #main{
    height: 100%;
}

#top_part {
    min-height: 100%;
    margin: 0 auto;
}

.body_width_limit {
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto;
    position: relative;
}

#title {
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#navigation {
    padding: 2px 10px;
}

#navigation a{
    margin: 2px;
    display: inline-block;
}

#navigation_user {
    padding: 2px 10px;
    text-align: right;
}

#navigation_user  a{
    margin: 2px;
    display: inline-block;
}

#messages > div{
    margin: 5px auto;
    padding: 5px 2%;
    width: 50%;
    text-align: center;
}

#adt_top, #adt_bottom{
    text-align: center;
    margin-bottom: 20px;
}
#adt_top a, #adt_bottom a{
    display: block;
    margin: 5px;
}

#adt_top{
    border-radius: 5px;
}


#menu{
    display: inline-block;
    width: 28%;
    padding: 0 10px;
}

#content{
    display: inline-block;
    width: 70%;
}

.select_bar {
    height: 34px;
    margin: 5px;
    padding: 7px;
}

.select_bar span{
    font-weight: bold;
}

.form{
    border-radius: 5px;
    margin-bottom: 10px;
}

.listing{
    margin-bottom: 10px;
}

.post{
    display: block !important;
    border-top-style: none !important;
}
.post:first-child{
    border-top-style: solid !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post td{
    padding: 2px;
}
.post td.icon{
    width: 16px;
}
.post td.image{
    width: 48px;
}
.post td.title{
}
.post.hightlight td.title{
    font-weight: bold;
    color: #6F6F6F;
}

a.post:hover{
    text-decoration: none !important;
}

.post td.right{
    width: 1px;
    white-space: nowrap;
    font-size: 80%;
    color: #979797;
}
.post td.content{
    font-size: 90%;    
}

.post td.bottom{
    text-align: right;
    font-size: 80%;
    color: #979797;
}

.post .actions a{
    padding: 2px;
    opacity: 0.7;
}
.post .actions a:hover{
    opacity: 1;
}

.post .time{
}
.post .counter{
    white-space: nowrap;
    border-radius: 10000px;
    padding: 0px 4px;
    float: right;
    font-weight: bold;
    color: #3F7EFD;
}

#pages{
    text-align: center;
}


#empty{
    clear: both;
    height: 50px;
    visibility: hidden;
}

#footer{
    min-height: 50px;
    margin-top: -50px;
    padding: 15px;
    color: #ccc;
    text-align: center;
}

#footer a{
    color: #ccc;
    font-weight: bold;
}

#copyright{
    float: left;
}
#generation{

}
#language{
    float: right;
}


.votes{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.vote_name{
    display: block;
    font-weight: bold;
    padding: 10px;
}


div.quote{
    border: 1px solid #979797;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 10px -4px black inset;
    padding: 2px;
    color: #838383;
    margin-left: 24px;
}
div.quote a{
    color: #838383;
}

.photo{
    display: block;
    margin: 2px auto;
    background: #EBEBEB;
    padding: 5px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

.nick_on{
    text-shadow: 1px 1px 4px #00E900;
}

.code_php{
    max-height: 400px;
    max-width: 684px;
    overflow: auto;
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 2px;
    background-color: #EEE;
    box-shadow: 0 0 10px -5px black inset;
}