body {
    font-family: Tahoma;
    font-size: small;
    background-color: #f9fcff;
    color: #243E99;
    padding: 0px;
    margin: 0px auto;
    max-width: 400px;
}
table {
    border: 0px;
    /* border="0" */
    border-collapse: collapse;
    /* cellspacing="0" */
}
table td {
    padding: 0px;
    /* cellpadding="0" */
}
input[type="submit"] {
    margin-top: 5px;
    color: #336;
    background-color: #E5EDFF;
    border: 1px #CBD8E5 solid;
}
input[type="submit"]:hover {
    color: #000;
    background-color: #EEF3FF;
    border-bottom: 1px #BCC7D6 solid;
}
textarea {
    width: 98%;
    max-width: 98%;
    min-width: 98%;
    height: 4pc;
    min-height: 4pc;
    margin: auto;
}
img {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
div.body {
    border: 1px #E7E7FD solid;
    background-color: #F9F9FF;
    padding: 3px;
    text-align: left;
}
a {
    color: #243E60;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div.adt_top, div.adt_bottom {
    padding: 2px 0px 1px 0px;
    text-align: center;
}
div.vidget {
    background-color: #f9fcff;
    padding: 5px 1px 5px 1px;
    margin: 0px;
    border-bottom: 1px #C7D7FF dotted;
}
div.news {
    border: 1px #E8AD00 solid;
    background-color: #FFFFCC;
    color: #000000;
}
div.news_title {
    background-color: #CCCC00;
    color: #FFFFCC;
}
div.form {
    padding: 2px;
    border: 1px #F2F2F7 solid;
    margin-bottom: 3px;
    margin-top: 2px;
}
div.form label {
    display: inline-block;
    padding-right: 5px;
    margin: 1px 0px 1px 0px;
}
div.form label:hover {
    margin: 1px 0px 0px 0px;
    border-bottom: 1px #A8C1CE solid;
    background-color: #E5EDFF;
}
form {
    display: inline;
}
h1 {
    /* Заголовок страницы */
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    background-color: #E0E6FF;
    font-size: medium;
    font-weight: bold;
    border-bottom: 1px #B8CAD8 solid;
    margin-bottom: 2px;
}
div.err {
    /* сообщение об ошибке */
    text-align: center;
    border-top: 1px #853A24 solid;
    background-color: #BF614D;
    color: #FFE3E3;
}
div.err a {
    color: #FFFFFF;
}
div.msg {
    /* сообщение */
    border-top: 1px #2C9A68 solid;
    text-align: center;
    background-color: #4DBF9A;
    color: #E3FFE3;
}
div.msg a {
    color: #FFFFFF;
}



div.post,div.post_hightlight{
    border: 1px #E0E6FF solid;
    margin: 3px 0px;
    background-color: #ecebf9;
    padding: 0px 2px;
}
div.post_hightlight{
    background-color: #d4d2ec;
}


div.post_title{
    font-weight: bold;
}
span.post_time{
    font-weight: normal;
}
span.post_counter{
    font-weight: bold;
    margin-left: 5px;
    background-color: #ecebf9;
    padding: 0px 5px;
    border: 1px #D7D7EE solid;
}

img.post_image{
    margin: 3px auto;
    border: 1px #AACBFF solid;
    padding: 2px;
}

div.user_aut {
    border-top: 1px #384865 solid;
    border-bottom: 1px #304152 solid;
    color: #FFFFFF;
    text-align: right;
    background-color: #425B89;
}
div.user_aut a {
    color: #FFF3DF;
    padding-right: 3px;
}
div.user_aut a:hover {
    color: #FFFFFF;
}
div.order {
    /* меню выбора (как правило, для сортировки) */
    border-bottom: 1px #6981B4 solid;
    padding-left: 5px;
    color: #000033;
    min-height: 16px;
    background-color: #9EB1FF;
}
div.order a {
    /* меню выбора (как правило, для сортировки) */
    color: #7684B0;
}
div.actions {
    margin-top: 3px;
    border-top: 1px #D0DDF3 solid;
    padding: 2px;
    margin-bottom: 3px;
    background-color: #F3F7FA;
}
div.actions a {
    /* выделение ссылки на действие в модуле */
    background-image: url(for_css/action.png);
    background-repeat: no-repeat;
    padding-left: 14px;
}

div.pages {
    /* вывод списка страниц */
    border: 1px #99CCFF solid;
}
div.pages span {
    /* выделение текущей страницы */
    font-weight: bold;
}
div.pages a:hover{
    /* ссылки страниц при наведении */
    text-decoration: none;
}
div.page_foot {
    /* самый низ меню */
    margin-top: 2px;
    border-top: 1px #A8C1CE solid;
    padding: 2px;
    background-color: #E0E6FF;
}

div.returns a {
    background-image: url(for_css/return.png);
    background-repeat: no-repeat;
    padding-left: 16px;
}


img.photo {
    background-color: #DFDFED;
    margin: 1px;
    padding: 4px;
    border: 1px #CCCCE5 solid;
}
span.nick_on {
    background-color: #B1FFB4;
    padding: 0px 2px 0px 2px;
}
span.nick_off {
    background-color: #CBCDCE;
    padding: 0px 2px 0px 2px;
}
/* выделение в результатах поиска */
span.mark {
    font-weight: bold;
    color: #F6A21A;
}
table.links {
    font-size: x-small;
    font-weight: bold;
    background-color: #DCEDFF;
    width: 100%;
    text-align: center;
}
div.quote {
    font-size: xx-small;
    background-color: #EFF1FF;
    margin: 1px;
    border: 1px #9999FF solid;
    border-left: 4px #9999FF solid;
    padding: 1px;
}
span.quote {
    font-weight: bold;
}
/* Голосования */
div.vote {
    font-size: xx-small;
    background-color: #F2F5FF;
    margin: 1px;
    padding: 2px 3px 2px 3px;
    border: 1px #CCCCE5 solid;
}
div.vote a:hover {
    text-decoration: none;
}
div.vote_name {
    font-weight: bold;
    font-size: x-small;
    padding-bottom: 4px;
}
td.votes {
    margin: 2px;
    border: 1px #AACBFF solid;
}
td.votes div {
    padding: 0px 3px 0px 3px;
    background: #99CCFF url('for_css/vote.gif') repeat-x center center;
    border: 1px #90BCE4 solid;
}
td.votes_add {
    width: 10px;
}
td.votes_add a {
    text-align: center;
    display: block;
    width: 10px;
    margin: 0px 3px 0px 3px;
    padding: 0px 1px 0px 1px;
    background: #99CCFF url('for_css/vote.gif') repeat-x center center;
    border: 1px #90BCE4 solid;
}


